<!DOCTYPE html>

<head>

    <title>Learn HTML</title>
    <link href="/stylesheets/bootstrap.min.css"  rel="stylesheet" href="style.css" type="text/css">
    <style>
        body {
          background-color: rgba(115, 116, 115, 0.822);
        }
        
        h1 {
          color: rgb(174, 216, 210);
          margin-left: 40px;
        }
        label{
            background-color: rgba(10, 12, 12, 0.877);
        }
        form{
            background-color: rgb(13, 14, 13);
        }
        input{
            background-color: rgb(186, 189, 185);
        }
        h2{
            color: rgb(16, 141, 122);
          
        }
        
        
        
        </style>
</head>

<div class="w3-cell-row">

    <div class="w3-container w3-red w3-cell">
        <h1> Welcome, <%= user.fullname %></h1>
    </div>
  
</div>
<h1>To Do</h1>
<div class="w3-container w3-green w3-cell" >
    <a href="/logout" class="btn btn-danger" >logout</a>
</div>

    <div class="card">
        <form action="" method="get">
            <input type="hidden" name="page" value="1" />
            <div class="card-header" style="color: rgb(2, 111, 212);">
                <h2>Pencarian</h2>
            </div>
            
            <div class="card-body" >
                <div class="row">
                    <label for="task" class="col-sm-2"><h2>Kata kunci</h2></label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="task" name="task" value="<%= query.task %>" />
                    </div>
                </div>
                <div class="row">
                    <label for="complete" class="col-sm-2"><h2>Complete</h2></label>
                    <div class="col-sm-10">
                        <select class="form-control" id="complete" name="complete">
                            <option value="">--Pilih Status</option>
                            <option value="true"<%= query.complete == "true" ? 
                            " selected" : ""%>>Yes</option>
                            <option value="false"<%= query.complete == "false" ? 
                            " selected" : ""%>>No</option>
                        </select>
                    </div>
                </div>
            </div>

        </div>
        <table class="table table-striped">
            <thead<div class="card-footer">
                <button type="submit" class="btn btn-success">Cari</button>
                <a href="/" class="btn btn-warning">Reset</a>
                </div>
        </form>
            <tr>
                <th>No.</th>
                <th>Daftar Game</th>
                <th>Status</th>
                <th>Picture</th>
                <th>Rating</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
                <% data.forEach((item, index)=> { %>
                    <tr>
                        <td>
                            <%= index+1 %>
                        </td>
                        <td>
                            <%= item.task %>
                        </td>
                        <td>
                            <%= item.complete ? 'Yes' : 'No' %>
                        </td>
                        <td>
                            <img src="/images/<%= item.picture ? item.picture : 'default.jpg' %>" alt="" width="100" height="auto"/>
                        </td>
                        <td>
                            <%= item.rating %>
                        </td>
                        <td>
                            <a href="/edit/<%= item.id %>" class="btn btn-success">Edit</a>
                            <a href="/delete/<%= item.id %>" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                    <% }) %>
            </tbody>
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item <%= page == 1 ? 'disabled' : '' %>">
                <a class="page-link" href="<%= url.replace(`page=${page}`, `page=${page - 1}`) %>" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <% for(let i=1; i<=pages; i++){ %>
                <li class="page-item <%= i  == page ? 'active' : '' %>"><a class="page-link" href="<%= url.replace(`page=${page}`, `page=${i}`) %>">
                        <%= i %>
                    </a></li>
                <% } %>
                    <li class="page-item <%= page == pages ? 'disabled' : '' %>" > 
                        <a class="page-link" href="<%= url.replace(`page=${page}`, `page=${Number(page) + 1}`) %>" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
        </ul>
    </nav>
    <a href="/add" class="btn-primary">Tambah</a>
</body>

</html>